<h1>Olá, <%= @evaluated.name %>!</h1>

<p>Um novo instrumento psicológico está disponível para você:</p>

<p><%= @instrument.name %></p>

<p>Clique no link abaixo para acessar o instrumento:</p>

<p><%= link_to 'Acessar Instrumento', evaluated_fill_data_url(@instrument_application.evaluated_id) %></p>

<p>Obrigado!</p>